{% extends "camps/main.html" %}
{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for error in change_pw_form.non_field_errors %}
            <p class="text-error">
                {{ error }}
            </p>
        {% endfor %}
        <legend>
            Change Password
        </legend>
        <label>
            Password{% for error in change_pw_form.password.errors %} <span class="label label-important">{{ error|escape }}</span>{% endfor %}
        </label>
        {{ change_pw_form.password }}
        <label>
            Password (again){% for error in change_pw_form.password2.errors %} <span class="label label-important">{{ error|escape }}</span>{% endfor %}
        </label>
        {{ change_pw_form.password2 }}
        <br>
        <button type="submit" class="btn btn-large">Submit</button>
    </form>
{% endblock main_content %}